<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Michelle Lam">

    <title>Atelier | Milestone 1</title>

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="//use.typekit.net/wtl2yul.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>



</head>

<body>
    <!-- SIDEBAR -->
    <section>
        <div class="nav-sidebar">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-1" >
                        <div class="nav-sidebar-selected">1</div>
                    </div>
                    <div class="col-sm-11">
                        <div class="nav-sidebar-header">CREATE ADMIN FRONT-END PAGE </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <div class="nav-sidebar-letter">A</div>
                    </div>
                    <div class="col-sm-11">
                        <div class="nav-sidebar-task">Create an admin controller </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <div class="nav-sidebar-selected">B</div>
                    </div>
                    <div class="col-sm-11">
                        <div class="nav-sidebar-task" style="color:#fff">Change routes.rb to /admin => admin/index.html </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <div class="nav-sidebar-letter">C</div>
                    </div>
                    <div class="col-sm-11">
                        <div class="nav-sidebar-task">Create admin/index.html in admin view </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <div class="nav-sidebar-letter">D</div>
                    </div>
                    <div class="col-sm-11">
                        <div class="nav-sidebar-task">Write HTML/CSS code on admin/index.html </div>
                    </div>
                </div>
                <br><br><br><br><br><br><br>
                <div class="nav-sidebar-task" align="center" style="color:#fff"> <span class="nav-sidebar-selected">6</span> HOURS REMAINING </div>
                <div class="ui green progress" data-percent="14">
                  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 14%;">
                  </div>
                </div>
                <br><br><br><br><br><br>
                <div class="row">
                    <button class="col-sm-3 btn"><span style="color:#fff">MESSAGES</span> <br> <%= image_tag "Messages.svg"%>
                    </button>
                    <button class="col-sm-3 btn"><span style="color:#fff">MEDIA</span> <br> <%= image_tag "Media.svg"%>
                    </button>
                    <button class="col-sm-3 btn"><span style="color:#fff">LINKS</span> <br> <%= image_tag "Links.svg"%>
                    </button>
                    <button class="col-sm-3 btn"><span style="color:#fff">QUESTIONS</span> <br> <%= image_tag "Questions.svg"%>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- /SIDEBAR -->
    <section>
        <div class="col-sm-4"></div>
        <!-- LEARNER-MENTOR CHAT -->
        <div class="col-sm-8 chat">

            <!-- ROW 1 -->
            <div class="row">
                <div class="col-sm-1">
                    <%= image_tag "avatar/Mentor.svg"%>
                </div>
                <div class="col-sm-4 mentor-content">
                    <div class="feed-bold">
                        MILESTONE 1 POSTED
                    </div>
                </div>
                <div class="col-sm-2" align="center">
                    <div class="status-complete">
                        <i class="mail icon"></i><br>
                        ACCEPTED
                    </div>
                </div>
                <div class="col-sm-4 learner-content" align="right">
                </div>
                <div class="col-sm-1" align="right">
                </div>
            </div>
            <!-- /ROW 1 -->

            <!-- ROW 2 -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4 mentor-content">
                </div>
                <div class="col-sm-2" align="center">
                </div>
                <div class="col-sm-4 learner-content" align="right">
                    <div class="feed-bold">
                        Task A Started
                    </div>
                </div>
                <div class="col-sm-1" align="right">
                     <%= image_tag "avatar/Learner.svg"%>
                </div>
            </div>
            <!-- /ROW 2 -->

            <!-- ROW 3 -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4 mentor-content">
                </div>
                <div class="col-sm-2" align="center">
                    <div class="status-complete">
                        <i class="checkmark icon"></i><br>
                        APPROVED
                    </div>
                </div>
                <div class="col-sm-4 learner-content" align="right">
                    <div class="feed-bold">
                        Task A Complete
                    </div>
                </div>
                <div class="col-sm-1" align="right">
                     <%= image_tag "avatar/Learner.svg"%>
                </div>
            </div>
            <!-- /ROW 3 -->

            <!-- ROW 4 -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4 mentor-content">
                </div>
                <div class="col-sm-2" align="center">
                </div>
                <div class="col-sm-4 learner-content" align="right">
                    <div class="feed-bold">
                        Task B Started
                    </div>
                </div>
                <div class="col-sm-1" align="right">
                     <%= image_tag "avatar/Learner.svg"%>
                </div>
            </div>
            <!-- /ROW 4 -->

            <!-- ROW 5 -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4 mentor-content">
                </div>
                <div class="col-sm-2" align="center">
                    <div class="status-pending">
                        <i class="question icon"></i><br>
                        NOT YET<br>SOLVED
                    </div>
                </div>
                <div class="col-sm-4 learner-content" align="right">
                    <div class="feed">
                        Do you have any resources I could use to learn how to complete this step?
                    </div>
                </div>
                <div class="col-sm-1" align="right">
                     <%= image_tag "avatar/Learner.svg"%>
                </div>
            </div>
            <!-- /ROW 5 -->

            <!-- ROW 6 -->
            <div class="row">
                <div class="col-sm-1">
                    <%= image_tag "avatar/Mentor.svg"%>
                </div>
                <div class="col-sm-4 mentor-content">
                    <div class="feed">
                        Here’s a good resource: <br>
                        <u>LearnRubyOnRails.com</u><br>
                        <%= image_tag "Ruby_Link.svg", :size => "300x99" %>
                    </div>
                </div>
                <div class="col-sm-2" align="center">
                </div>
                <div class="col-sm-4 learner-content" align="right">
                </div>
                <div class="col-sm-1" align="right">
                </div>
            </div>
            <!-- /ROW 6 -->

            <!-- ROW 7 -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4 mentor-content">
                </div>
                <div class="col-sm-2" align="center">
                    <div class="status-complete">
                        <i class="question icon"></i><br>
                        SOLVED
                    </div>
                </div>
                <div class="col-sm-4 learner-content" align="right">
                    <div class="feed">
                        Ok, thanks!<br>(question marked as solved)
                    </div>
                </div>
                <div class="col-sm-1" align="right">
                     <%= image_tag "avatar/Learner.svg"%>
                </div>
            </div>
            <!-- /ROW 7 -->
            <!-- ROW 8 -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4 mentor-content">
                </div>
                <div class="col-sm-2" align="center">
                    <div class="status-complete">
                        <i class="checkmark icon"></i><br>
                        APPROVED
                    </div>
                </div>
                <div class="col-sm-4 learner-content" align="right">
                    <div class="feed-bold">
                        Task B Complete
                    </div>
                </div>
                <div class="col-sm-1" align="right">
                     <%= image_tag "avatar/Learner.svg"%>
                </div>
            </div>
            <!-- /ROW 8 -->
            <!-- ROW 9 -->
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-4 mentor-content">
                </div>
                <div class="col-sm-2" align="center">
                </div>
                <div class="col-sm-4 learner-content" align="right">
                    <div class="feed-bold">
                        Task C Started
                    </div>
                </div>
                <div class="col-sm-1" align="right">
                     <%= image_tag "avatar/Learner.svg"%>
                </div>
            </div>
            <!-- /ROW 9 -->
            <!-- /LEARNER-MENTOR CHAT -->
            
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <!-- Temporary White Space -->

            <!-- INPUT BOX -->
            <div class="row nav-bottombar">
                <div class="col-sm-6">
                    <div class=" ui comments">
                        <div class="comment">
                            <div class="content">
                                <form class="ui reply form">
                                    <button class="btn"><%= image_tag "Messages_dk.svg"%></button>
                                    <button class="btn"> <%= image_tag "Media_dk.svg"%></button>
                                    <button class="btn"> <%= image_tag "Links_dk.svg"%></button>
                                    <button class="btn"> <%= image_tag "Questions_dk.svg"%></button>
                                    <p></p>
                                    <div class="field">
                                        <textarea></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <button class="btn"></button><p></p><br><br>
                    <div class="ui submit black basic button input-button">
                        <i class="icon edit"></i> ASK FOR FEEDBACK
                    </div><br><br>
                    <div class="ui submit black basic button input-button">
                        <i class="icon edit"></i> SUBMIT
                    </div>
                </div>

            <!-- /INPUT BOX -->
        </div>
    </section>




</body>

</html>
